@import "./colors";
@import "./fonts";

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: $black;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}